@page "/map"
@inject HttpClient Http
@inject IJSRuntime JS
@inject IConfiguration Configuration


<button id="toggle-btn">Hide</button>
<br /><br />
<h3>Select a Local Authority</h3>
<select id="localAuthoritiesDropdown" class="form-control">
    <option value="">Select a name</option>
</select>

<br /><br />
<div id="loading">Loading England map...</div>


<div id="map" style="width: 100%; height: 600px;"></div>

@code {
    internal string _mapboxAccessToken;
    internal string _geoJsonUrl ;

    protected override void OnInitialized()
    {
        _mapboxAccessToken = Configuration["AppSettings:mapboxAccessToken"];
        _geoJsonUrl = Configuration["AppSettings:geoJsonUrl"];
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JS.InvokeVoidAsync("initializeMap", _mapboxAccessToken, _geoJsonUrl);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error invoking JS function: {ex.Message}");
            }
        }
    }
}
